/* Navbar.Css */

.navbar {
  width: 100%;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar__logo {
  font-size: 22px;
  font-weight: bold;
  color: rgb(6, 6, 6);
  line-height: 70px;
}

/* Dashboard.css */

.dashboard_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard_main {
  display: flex;
  flex: 1;
  background-color: #f4f7fa;
}

/* left Dashboad css */

.leftDash_container {
  width: 250px;
  background-color: #fbfbfb;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.profile_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  text-align: center;
}

.profile_container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #d1d5db;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.profile_container h2 {
  font-size: 18px;
  font-weight: 600;
  color: #0c0c0c;
  margin: 0;
}

.dash_link {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 15px;
  background: rgb(239, 239, 239);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  border: none;
}

.link:hover {
  background-color: #dbeafe;
  color: #1585e1;
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.link_icon {
  font-size: 18px;
}

/* right_dashboard */
.right_container {
  padding: 20px 0;
  height: 100%;
}

.right_dash_conatainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f5f7fa;
  height: 100%;
  width: 120%;
}

/* Top cards section */
.top_container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.card {
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

/* Bottom container */
.bottom_container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

.botton_card {
  display: flex;
  gap: 15px;
}

.left_card,
.right_card {
  flex: 1;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.right_dash_conatainer {
  padding: 20px;
  background-color: #f5f7fa;
}

.top_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-4px);
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
}

.purple {
  background-color: #7b61ff;
}

.orange {
  background-color: #f97316;
}

.red {
  background-color: #ef4444;
}

.card_content .title {
  margin: 0;
  font-size: 14px;
  color: #6b7280;
}

.card_content h3 {
  margin: 4px 0 0;
  font-size: 20px;
  font-weight: bold;
  color: #111827;
}

/* //transaction section */

.first_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.see_all_btn {
  background: #ebebeb;
  padding: 3px 3px;
  border: none;
  color: #616060;
  font-weight: 500;
  width: 120px;
  cursor: pointer;
  border-radius: 8px;

}
.see_all_btn:hover {
  background: #d0d0d1;
  color: #2563eb;
  transition: all 0.3s ease;
}

.list_section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 4px; /* optional spacing */
  overflow: hidden; /* ensures no scroll shows */
}

.transaction_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 13px;
  background-color: #f9fafb;
  border-radius: 12px;
  transition: background-color 0.3s;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.transaction_item:hover {
  background-color: #eef2f7;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.left_info {
  display: flex;
  align-items: center;
}

.icon_circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 18px;
  color: #333;
}

.transaction_info {
  display: flex;
  flex-direction: column;
}

.transaction_info .title {
  font-weight: 600;
  color: #111827;
  font-size: 15px;
  font-weight: 600;
}

.transaction_info .date {
  font-size: 12px;
  color: #6b7280;
}

.amount {
  font-weight: 600;
  font-size: 16px;
}

.amount.income {
  color: rgb(2, 182, 2);
  background: rgb(195, 246, 195);
  padding: 4px 8px;
  border-radius: 4px;
}

.amount.expense {
  color: red;
  background: rgb(249, 201, 198);
  padding: 4px 8px;
  border-radius: 4px;
}
/* right card */
.right_card {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  text-align: start;
  position: relative;
}

.chart_center_text {
  position: absolute;
  top: 70%;
  left: 73%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.chart_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #111827;
}
.chart_center_text p {
  font-size: 14px;
  margin-bottom: -5px;
  color: #555;
}

.chart_center_text h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.chart_legend {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: -10px;
  font-weight: 500;
  font-size: 14px;
}

/* delete btn */

.right_action {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.delete_icon_btn {
  background: transparent;
  border: none;
  color: #808080;
  cursor: pointer;
  font-size: 18px;
  display: none;
  transition: transform 0.2s ease;
}

.transaction_item:hover .delete_icon_btn {
  display: inline-block;
  transform: scale(1.05);
}
